@import "tailwindcss";

@theme {
  --color-primary: #013724EB;
   --color-secondary: #145a44;
  --color-accent: #f4b400;
  --color-bg: #f5f7f6;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Text Selection */
::selection {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
